[2015-08-18 11:41] aksonov opened #1 "Demo for README"
![demo](https://cloud.githubusercontent.com/assets/1321329/9329083/cc77b4e0-45ae-11e5-9919-34f12e6d407c.gif)

[2015-08-18 11:41] #1 closed

[2015-08-18 16:25] aksonov opened #2 "Example 2 picture for readme"
![demo2](https://cloud.githubusercontent.com/assets/1321329/9335801/7a4d42ca-45d6-11e5-860c-969db80413ca.gif)

[2015-08-18 16:25] #2 closed

[2015-08-19 03:04] haledeng opened #3 "Does it has the same property of ListView?"
Does it has the same property of ListView, like dataSource, renderRow and so on.

[2015-08-19 05:34] aksonov commented on #3
No. It is more similar to PickerIOS now, please check examples. I will add propTypes for all elements soon.

Pavel.

[2015-08-19 15:09] adamkrell opened #4 "Managing the Reordering of Rows"
Thank you for putting the work into this component!

Can the component be put into "editing" mode so the cells can be [reordered](https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/TableView_iPhone/ManageReorderRow/ManageReorderRow.html)? Or, is this a planned feature?

Again, thank you for working on this. It will be so useful.

[2015-08-19 17:17] aksonov commented on #4
Sorry, it is not planned because it is not clear how to transfer data back to JS after reordering. Usage of events for each reordering/deleting  looks quite complex. Anyway PR is welcome!

[2015-08-19 17:23] adamkrell commented on #4
If I get a chance, I'll see if I can work on this. I'd like to have this feature and you've done a great deal of the foundational work, so if I can break away from my current project I'll see what I can do. Thanks.

[2015-08-19 17:24] #4 closed

[2015-08-20 07:05] #3 closed

[2015-08-21 09:42] haledeng commented on #3
I think, It should be more common. Users can define row by themselves.

[2015-08-21 09:57] aksonov commented on #3
Sure, you can do it like it is done for PickerIOS, using map() function inside TableView. Also you could programmatically create and pass 'sections' array (list of tableview sections).

But if you are talking definition of cell UI, not data, it seems much more complex. I'm thinking how it is possible to achieve - get custom JS views from native iOS code and set it as table cell. Any ideas are welc

[2015-08-22 23:51] ecesena opened #5 "Plan to support contentView?"
Hi, nice job! Do you plan to support contentView?
My use case is to have in each cell some text left-aligned and other right-aligned.

[2015-08-24 11:21] aksonov commented on #5
Please check latest version 1.1.0, should be done there. Use <TableView.Cell> element under <TableView.Section> to define custom UI cell.

[2015-08-24 11:23] aksonov commented on #3
Check #5 . Latest 1.1.0 version has custom Cell elements, it is not the same as ListView syntax, but you could easily create it. Maybe i will add the renderRow function, or you could create patch.

[2015-08-24 11:26] aksonov commented on #5
example 4 is added to show custom cell usage.

[2015-08-24 17:14] ecesena commented on #5
It looks great! I'll check it asap.

[2015-08-24 17:14] #5 closed

[2015-08-27 10:29] rmdort opened #6 "Can you add `keyboardShouldPersistTaps`"
Could you add this feature as per ScrollView

https://facebook.github.io/react-native/docs/scrollview.html#keyboardshouldpersisttaps

[2015-08-27 11:47] rmdort opened #7 "Ability to style section headers"
Feature request

[2015-08-27 11:49] aksonov commented on #7
Sorry, out of time currently, you welcome to do PR for this.

[2015-08-27 11:49] aksonov commented on #6
Sorry, out of time currently, you welcome to do PR for this.

[2015-08-28 16:38] rmdort opened #8 "onPress doesnt get called in latest React 0.10.0"
onPress is not fired in the latest version of React 0.10.0

[2015-08-29 08:20] aksonov commented on #8
Should be fixed within latest version.

[2015-09-04 11:59] #8 closed

[2015-09-04 18:08] #6 closed

[2015-09-07 07:33] kristian-puccio opened #10 "reloading data"
I'm using the render2 from the examples method of drawing a table with a mix of inline static cells (for testing) and a bunch rendered into a variable and included in sections using { varWithItems }

I'm having trouble updating the cells.

Basically I'm waiting for an api call then updating the variable. What is happening is that when I scroll the cells out of the view then their contents get upda

[2015-09-07 07:35] aksonov commented on #10
Please give me example repo to see the problem.

[2015-09-07 08:00] kristian-puccio commented on #10
Here you go, this.props.events is an immutable list that starts as empty list and gets populated with an api call.

[code]

[2015-09-07 08:43] aksonov commented on #10
Please make working github repo, so i could run the project.

[2015-09-07 12:49] kristian-puccio commented on #10
I think I worked out what the problem is the {items} is an array, so when
the loop inside _stateFromProps happens it's not picking it up as a valid
'type' either a section or cell so it's just missed.

On 7 September 2015 at 18:43, Pavlo Aksonov <notifications@github.com>
wrote:

[2015-09-07 13:28] aksonov commented on #10
I'm not sure that i've understood, but if there any problem, give me link to working demo or you may close this issue.

[2015-09-08 00:34] christopherdro opened #11 "Separate states between sections"
Currently theres not way to differentiate selections between different sections.
Am I missing something or is this the way it's suppose to currently work?

Also, I think we want to disable checkmarks if the sections `arrow` property is set to true.

Thoughts?

[2015-09-08 06:10] aksonov commented on #11
Yes, it makes sense, i will do this soon. If you want to make it by yourself, PR is welcome.

[2015-09-10 06:31] #10 closed

[2015-09-15 14:02] jaygarcia opened #12 "RCT Class prefix"
The FB team dislikes use of the RCT prefix (i've been pinged about that personally).

Would you entertain a PR to Rename the project and related classes to something like RNTV?

[2015-09-15 15:52] aksonov commented on #12
ok, will do it soon.

[2015-09-16 06:27] coodoo opened #13 "Does this support swipe to delete to UITableViewCell?"
Can't seem to found any mentioning of this in the doc or source, hence the question, thanks!

[2015-09-17 10:20] aksonov commented on #12
Should be fixed now, 1.1.5, need to re-add new project & lib to make it work.

[2015-09-17 10:20] #12 closed

[2015-09-17 12:31] aksonov commented on #11
Fixed for 1.2.0 version

[2015-09-17 12:31] #11 closed

[2015-09-17 12:44] aksonov commented on #2
![demo-3](https://cloud.githubusercontent.com/assets/1321329/9933335/96b45daa-5d4a-11e5-87c3-44c6599d2008.gif)

[2015-09-17 12:57] aksonov commented on #13
It is not supported at this moment.

[2015-09-22 15:20] aksonov commented on #1
![demo-3](https://cloud.githubusercontent.com/assets/1321329/10022633/2bcad30e-614e-11e5-987d-28dbbb9d2739.gif)

[2015-09-25 17:08] vlucas opened #14 "Editing and Sorting Features"
Editing, deleting, and sorting features are the main differentiation point between a TableView and ListView. These are the main things I am looking for when using a TableView.

You're off to a great start here (thank you for taking this on!), but in my view, the deleting and sorting behaviors are absolutely critical for a full, usable TableView implementation that most people are looking for - eve

[2015-09-30 00:02] iSimar opened #15 "No selected item initially"
I'm trying to get a tableview with selectable items but none of the items are to be selected initially.

ex:
[code]

It only seems to be working when I have at least one of the items set to `selected={true}`

[2015-09-30 08:00] aksonov commented on #15
You are right, selected={true} is intended usage, also you could set selectedValue=VALUE for TableView element where VALUE is 'value' of item which should be selected. I don't think that the component must select some element initially (first?) if no selected value is set - sometimes users don't want to see any selection.

[2015-09-30 08:00] #15 closed

[2015-10-02 15:55] aksonov commented on #4
Should be done for latest version 1.3.0

[2015-10-02 15:56] aksonov commented on #14
Deleting/sorting should be done within latest version 1.3.0. I'm not sure what do you mean by editing.

[2015-10-02 15:56] aksonov commented on #13
Deleting/sorting should be done within latest version 1.3.0. onChange event in this case, so you could manage/persist your items on JS side.

[2015-10-02 17:04] adamkrell commented on #4
Awesome!

[2015-10-02 22:35] coodoo commented on #13
Woohoo! Thanks for making this happen :)

[2015-10-03 11:58] aksonov commented on #13
Sorry, just realized that I've implemented edit mode, but it doesn't include swipe to delete option.

Pavel.

[2015-10-03 14:32] vlucas commented on #14
Awesome! I just meant putting the table in edit mode. :)

[2015-10-03 19:16] iSimar opened #16 "Doesn't seem to be rerendering on setState"
when setState is called I want the tableview to update because one of the section's label is from the state.
ex:
[code]

[2015-10-04 07:57] kirillplatonov opened #17 "Example of CustomCell"
Hi guys. Amazing job!

Could you please add example of creating and using custom cell to readme?

[2015-10-04 08:01] kirillplatonov commented on #17
I tried to follow this example https://github.com/aksonov/react-native-tableview/blob/master/examples/TableViewDemo/index.ios.js
But when I add custom cell to my table view I receive this errors in console: https://www.dropbox.com/s/bunsgugrhwi1kni/Screenshot%202015-10-04%2010.58.28.png?dl=0

My code:
[code]

Maybe someone has similar problem and know how to fix this?

[2015-10-04 20:02] kirillplatonov commented on #17
I tried version 1.2.4 and it working there properly. So problem caused by this commit https://github.com/aksonov/react-native-tableview/commit/a701d84354b3b9988370423af18db573795f6cd2

[2015-10-05 06:30] aksonov commented on #16
Please provide simple github repo to reproduce it.

[2015-10-05 06:31] aksonov commented on #17
Should be fixed with 1.3.1

[2015-10-05 06:31] #17 closed

[2015-10-05 06:36] aksonov commented on #13
allowsMultipleSelectionDuringEditing=NO did the trick, so feature is implemented within 1.3.2

[2015-10-05 06:36] #13 closed

[2015-10-05 06:36] #14 closed

[2015-10-05 06:37] aksonov commented on #7
Atleast do detailed FR for this - what exactly should be styled and how. Closing it for now.

[2015-10-05 06:37] #7 closed

[2015-10-05 06:41] rmdort commented on #7
Noted. I was thinking if the following is doable?

[code]

[2015-10-05 06:59] aksonov commented on #7
Sorry, it seems not to be possible - i can’t pass JS styles to native UITableView.

[2015-10-05 08:46] coodoo commented on #13
Great, thanks for the effort!

[2015-10-05 14:31] iSimar commented on #16
I just noticed the example didn't show up in my first post, just fixed it. Does that help?

[2015-10-05 14:57] aksonov commented on #16
Thanks! Should be fixed within 1.3.3 version, please check

[2015-10-05 22:41] iSimar commented on #16
Alright.

[2015-10-05 22:41] #16 closed

[2015-10-06 20:55] Purii opened #18 "Can't use Item and Cell components side by side"
Great component! Hope that you could help me, with the following use case.

**Issue:** Using Item and Cell components side by side results in a misbehavior of the whole tableview:

![simulator screen shot 06 10 2015 22 39 28](https://cloud.githubusercontent.com/assets/7056989/10321849/357f0694-6c7b-11e5-968a-d1221de019e9.png)
[code]

**Use case:** I want to build the following screen, which seems

[2015-10-07 07:04] aksonov commented on #18
You cannot mix Cell and Item elements. Check demo with custom cells.

[2015-10-07 07:04] #18 closed

[2015-10-10 05:39] rmdort commented on #16
setState and re-render works when you use `<Item></Item>` but when i use `<Cell>` , i get the following error

[code]

[2015-10-10 09:33] rmdort opened #19 "Error on setState and re-render when using Cell"
setState and re-rendering works when you use `<Item></Item>` but when i use `<Cell>` , i get the following error

[code]

[code]

My render function looks like this

[code]

[2015-10-13 13:55] aksonov commented on #19
I can't reproduce. Are you sure that you are not submitting empty cell array? Anyway, i've updated demos for custom cells in Example1 with setState usage while trying to reproduce the error, so you may send me PR to reproduce the problem.

[2015-10-13 14:42] rmdort commented on #19
Hi there, This only happens when the cell size changes on setState. I can reproduce it in the following example

[code]

[2015-10-14 03:59] plrthink opened #20 "[request] add selection callback to each table cell"
Add selection callback to each table cell will be great.

[2015-10-14 04:00] plrthink opened #21 "[request] add a control object as its accessory view, such as a switch or a slider"
Also need add a control object.

[2015-10-14 06:30] aksonov commented on #20
It is already done, have you tried onPress handler?

      return (
            <TableView style={{flex:1}}>
                <Section label={this.state.sectionLabel}  arrow={true}>
                    <Item onPress={Actions.example1}>Example with custom cells</Item>
                    <Item onPress={Actions.example2}>Example with app bundle JSON data</Item>
                    <Item onPress={Acti

[2015-10-14 06:30] #20 closed

[2015-10-14 07:11] plrthink commented on #20
Oh, sorry for not checking before creating this issue.

[2015-10-15 06:20] thunderousNinja opened #22 "Delay rendering large data sets while using Cell"
While using the `Cell` component of the library I noticed that there is large delay if I initialize it with a large amount of data. It takes about 3-5 seconds to render.

I am doing something like this in my component with 1000 dummy elements initialized:

[code]

This issue is not reproducible if I change my implementation to be `Item`, rather than `Cell`, for large data sets. Before I start digg

[2015-10-15 07:35] aksonov commented on #22
Yes, it is known limitation and i don't have idea how to avoid it. Now Cell should be used only for small datasets. Check built-in ListView component, it have almost the same issues (big delay for rendering)!

[2015-10-15 08:07] thunderousNinja commented on #22
I think what you said should be rephrased as:

Large data sets should be supported with `Cell`, otherwise what is the point of having a UITableView wrapper component! I guess the concerns would be how to properly append to a data source... I guess the use case for this would be a an infinite list of reddit posts. Hypothetically a user can scroll through hundreds of posts, via infinite paging. We p

[2015-10-15 08:10] thunderousNinja commented on #22
This could be solved by having something like a sectionGetter/rowGetter function but with the async nature of the react-native bridge this might be a bit tricky to solve.

[2015-10-15 08:15] aksonov commented on #22
Yes, it is quite tricky to solve as you mentioned, but you are welcome to do PR for this! I thought to create some kind of factory of Cells and re-use cells like UITableView does - but i don't see way how to pass view factory from JS to native code (because of async nature). Another way is to 'clone' Cell view when necessary, but it is not clear how to nicely clone UIView and how to set new values

[2015-10-15 08:50] thunderousNinja commented on #22
Good points. I will try something out this weekend, once I have some free time.

Great job on the lib btw. Excited to finally get some view recycling with react-native :recycle:

[2015-10-15 09:01] nbastoWM opened #23 "Large form using tableview"
Hi,

In iOS7 objectiveC I used to build large forms with NSTableView, using one cell per input field, and when the last cell/field was clicked, the tabled scrolled up so the field got above the keyboard. How can I do this with reac-native-tableview?

Thanks.

[2015-10-15 09:12] aksonov commented on #23
I believe this question is out of scope of this component but about keyboard show/hide event handling - you have to define the component inside scrollview and scroll up/down it when keyboard show/hide event is coming.

[2015-10-15 09:16] rmdort commented on #23
We use https://github.com/hackiftekhar/IQKeyboardManager in our apps to solve this issue. It works with react-native

[2015-10-15 10:09] nbastoWM commented on #23
rmdort, that seems like a great solution, I tryed IQKeyboardManager but it doesn't seem to work "out of the box". I added the objectiveC folder to the main project but the react-native-tableview doesn't seem to scroll automatically.

[2015-10-17 07:48] thunderousNinja commented on #22
I recommend making this an **enhancement** label maybe?

[2015-10-22 14:30] aksonov commented on #23
@rmdort Could you provide example of usage, so I could maybe include it into demo and close this issue?

[2015-10-27 08:03] aksonov commented on #19
I'm trying to fix this issues, but without success - unfortunately RN doesn't call 'removeReactView' when some cells are deleted, so i can't handle it properly - i.e. remove cells from table view. One possible way is to override setReactFrame - it is recalled when cells are changed, but when I'm deleting cells there, some weird race-condition occurs - so it is not good idea..

 If you could fix it

[2015-10-27 21:25] cancan101 opened #27 "Support for Custom Header / Footer Content in Section"
Using `UITableViewHeaderFooterView` and [`contentView`](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UITableViewHeaderFooterView_class/index.html#//apple_ref/occ/instp/UITableViewHeaderFooterView/contentView).

[See also this](http://stackoverflow.com/questions/15611374/customize-uitableview-header-section).

[2015-10-27 21:40] cancan101 opened #28 "Support for Custom Accessory Views"
See [`accessoryView`](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UITableViewCell_Class/index.html#//apple_ref/occ/instm/UITableViewCell/accessoryView) and [broadly](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UITableViewCell_Class/index.html#//apple_ref/occ/instm/UITableViewCell/accessoryView).

[2015-10-28 06:54] aksonov commented on #27
Maybe you can consider add React Native header/footer around this component, i don't see problem with it.

[2015-10-28 06:54] aksonov commented on #28
It seems duplicate of #21

[2015-10-28 06:54] #28 closed

[2015-10-28 22:44] cancan101 commented on #27
I am not sure what you mean. Right now you only support setting footer/ header text not actually setting the header/footer to be React Native components.

[2015-10-29 23:38] cancan101 opened #29 "Mixing Cell and Item in the TableView Does not Work"
I have:
[code]

but all I see is:
![image](https://cloud.githubusercontent.com/assets/51059/10834990/94bc64de-7e74-11e5-88ae-7360790b1277.png)

If I remove `<Cell><Text>Item 1</Text></Cell>` then the "Item 2" shows up:
![image](https://cloud.githubusercontent.com/assets/51059/10835001/a446499c-7e74-11e5-8d7a-793020509a41.png)

[2015-10-30 01:41] anneunjungkim opened #30 "Checkmarked row deselection by tapping"
Is it possible to make a checkmarked row to become deselected by tapping?

[2015-10-30 09:20] aksonov commented on #30
It is not supported, are you talking about 'multiple-choice' tableview? Maybe I will implement it at the future or PR is welcome.

[2015-10-30 09:22] aksonov commented on #29
@Nathan-Smith Could you look at it? I saw your PR recently, it looks related...

[2015-10-30 09:24] aksonov commented on #29
Maybe it was not published to npm yet, please check 1.4.1 version.

[2015-10-30 09:27] aksonov commented on #27
It is not implemented as you can see.
 I asked why you can't do following within JS code:
 <YourHeaderView/> <TableView .../><YourFooterView/>  ?

[2015-10-30 14:19] cancan101 commented on #27
Ah, I am thinking of the ability to customize the `contentView of the header/footer for each section, not for the table as a whole.

[2015-10-30 14:30] cancan101 commented on #29
I pulled 1.4.1 which seems to fix the issue with `Cell` not working with `Item` in different sections but I have issues with them in the same section:
[code]
shows as:
![image](https://cloud.githubusercontent.com/assets/51059/10848218/2e9a3eb0-7ef1-11e5-8b14-603dc3b3e48d.png)

[2015-10-30 14:33] aksonov commented on #27
Got it, probably you have to add ‘Section’ word for issue then.

[2015-10-30 14:33] aksonov commented on #29
It is not supported.

[2015-10-30 14:33] cancan101 commented on #27
@aksonov title updated. Would you re-open issue?

[2015-10-30 14:34] cancan101 commented on #29
By IOS or just by `react-native-tableview` ?

[2015-10-30 14:34] aksonov commented on #29
By react-native-tableview

[2015-10-30 14:36] cancan101 commented on #29
Okay. Can we leave this issue then as a feature request for that? Also maybe add note in README?

[2015-10-30 18:29] cancan101 opened #31 "selectionStyle on UITableViewCell"
Ability to set the `selectionStyle` on the `Cell` (`UITableViewCell`).

for example to disable selection:
[code]

[2015-10-30 18:43] cancan101 commented on #29
@aksonov Any info on why this doesn't work right now? i.e. if I wanted to take a look at this, where would I start?

[2015-11-01 23:34] nicholasalanbrown opened #32 "Change TableView background color?"
Great package. Is there any way to change the gray background color of the overall TableView?

[2015-11-03 02:07] cancan101 opened #33 "Scroll to Section"
Ability to scroll to section without having to check all of the items in a section.

Right now if I set `selected={true}` on a section, the `TableView` auto scrolls to that section, However this results in all items in the selection being checked.

[2015-11-03 02:08] cancan101 opened #34 "autoFocus={false} does not work"
I am setting `autoFocus={false}` on a TableView but it still seems to scroll down to the selected item.

[2015-11-03 02:09] cancan101 commented on #34
Could this be an issue?: https://github.com/aksonov/react-native-tableview/blob/8a2376afbcbfd2b8e66dc2413496b4eda027113a/RNTableView/RNTableView.m#L63

[2015-11-03 02:10] cancan101 commented on #33
See: https://github.com/aksonov/react-native-tableview/blob/8a2376afbcbfd2b8e66dc2413496b4eda027113a/RNTableView/RNTableView.m#L87-L94.

[2015-11-03 02:39] cancan101 opened #35 "selected={false} selects an item"
Setting the prop `selected={false}` causes the item to be selected.

[2015-11-03 02:45] cancan101 opened #36 "Expose allowsMultipleSelection"
Currently `allowsMultipleSelection` is not exposed. `allowsMultipleSelectionDuringEditing` _is_ exposed.

[2015-11-03 02:56] cancan101 opened #37 "Odd Way of Scrolling"
Why is scrolling done using [`selectRowAtIndexPath`](https://github.com/aksonov/react-native-tableview/blob/8a2376afbcbfd2b8e66dc2413496b4eda027113a/RNTableView/RNTableView.m#L98-L100) rather than [`scrollToRowAtIndexPath`](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UITableView_Class/#//apple_ref/occ/instm/UITableView/scrollToRowAtIndexPath:atScrollPosition:animated:)?

[2015-11-03 03:12] cancan101 opened #38 "Scrolls to Last Selected Item in Section Rather than First"
[This line claims](https://github.com/aksonov/react-native-tableview/blob/8a2376afbcbfd2b8e66dc2413496b4eda027113a/RNTableView/RNTableView.m#L95) that the first selected item in a section is scrolled to when in reality the last selected item in the section is selected.

This is because [this line](https://github.com/aksonov/react-native-tableview/blob/8a2376afbcbfd2b8e66dc2413496b4eda027113a/RNTab

[2015-11-03 07:18] #37 closed

[2015-11-03 07:19] #38 closed

[2015-11-03 08:24] aksonov commented on #36
Could you clarify? PR is welcome.

[2015-11-03 08:46] aksonov commented on #34
The problem was that property is not listed in RNTableViewManager, fixed in 1.4.3, please check

[2015-11-03 08:46] aksonov commented on #35
Should be fixed in 1.4.3, please check

[2015-11-03 08:47] aksonov commented on #33
This is enhancement, PR will be welcome.

[2015-11-03 08:48] aksonov commented on #32
I've added transparent background for native UITableView for 1.4.3 version, so now you could set any background you want in RN styles.

[2015-11-03 17:29] cancan101 opened #41 "stickyHeaderIndices Equivalent for ListView"
`ScrollView` has a property `stickyHeaderIndices` that allows pinning the header elements. I suggest adding the same option to `ListView`. Currently the results of  `renderHeader` are not pinned.

[2015-11-03 17:36] #41 closed

[2015-11-03 17:36] cancan101 commented on #41
Wrong project.

[2015-11-03 20:40] cancan101 opened #42 "Possible to Create Row / Cell without Section"
Is there some way to create a Row / Cell without a section? (or at the very least have the ability to hide the section header).

[2015-11-04 05:28] cancan101 commented on #36
I believe that [this code](https://github.com/aksonov/react-native-tableview/blob/710554a3c44e2f058c1ce87e22ddbc35bb2b0155/RNTableView/RNTableView.m#L263-L284) also needs to be updated to handle multiple selections.

[2015-11-04 18:27] cancan101 opened #43 "Document onChange"
`onChange` is not in the README and there is no docs as to when it gets called.

[2015-11-04 19:43] cancan101 opened #44 "selectedValue Should be Renamed to defaultSelectedValue"
Either `selectedValue` should be renamed to `defaultSelectedValue` or it should be made into a controlled value.

Right now, `selectedValue` is not a controlled value. i.e. updating that prop should control the value selected in the component whereas right now it is just used as the initial value.

For a similar prop, see [`textinput`](https://facebook.github.io/react-native/docs/textinput.html#pr

[2015-11-04 20:15] cancan101 commented on #42
This might just work if the section label is set to `''`.

[2015-11-06 02:09] eunjkim27 commented on #30
Yes, thank you very much for your reply! :)

[2015-11-06 07:37] gpbl opened #45 "Moving rows only inside their sections"
Rows can be moved _between_ sections, while I'd like to constrain rows inside their own section. Is there  a way to do that?

[2015-11-06 07:41] aksonov commented on #45
You may submit PR to do it:

1. Introduce new property, like moveWithinSectionOnly
2.  Add method to RNTableView and if moveWithinSectionOnly is true, reject proposedDestinationIndexPath (i.e. return sourceIndexPath) if section is different

- (NSIndexPath *)tableView:(UITableView *)tableView
        targetIndexPathForMoveFromRowAtIndexPath:(NSIndexPath *)sourceIndexPath
        toProposedIndexPat

[2015-11-06 16:50] studio-dude commented on #19
I too am having this problem, while implementing a simple search/filter feature. Once a search is in place that would reduce the number of Cells, I get the above error.

[2015-11-06 21:43] studio-dude opened #46 "Ability to hide a Cell?"
Since the number of Cells cannot change across calls to render (https://github.com/aksonov/react-native-tableview/issues/19), is it possible to hide a Cell? I tried various css (height=0, display: none, etc) but I cannot seem to accomplish it.

[2015-11-09 12:17] gpbl commented on #45
OK, try to see if #47 does it: however I have no idea how can I test it. Could you help me on that?

[2015-11-09 12:33] aksonov commented on #45
Check my comments there. What do you mean you can't test it? Just run your code with your modified RNTableView component inside node_modules with several sections and move from one section to another?

[2015-11-09 12:38] aksonov commented on #45
Or you meant unit tests? If so, it is really difficult,  i didn't found the way.

[2015-11-09 13:02] xiekw2010 opened #48 "build failed after clone"
![image](https://cloud.githubusercontent.com/assets/1814071/11034235/1790dd50-8725-11e5-98ea-f3f3423b187c.png)

how to fix it, thank you

[2015-11-09 13:05] gpbl commented on #45
I fork the project, I open RNTableView.xcodeproj and edit the code.
However I receive there many errors I can't even use autocomplete (I'm on XCode 7.1).

So, to test if the changes are working, I should copy/paste the changed files inside `node_modules`. I was looking for a better way... :-)

[2015-11-09 13:16] aksonov commented on #48
Have you installed node_modules with npm install ?

[2015-11-09 14:20] #45 closed

[2015-11-10 11:52] xiekw2010 commented on #48
@aksonov it works！ Thank you

[2015-11-11 12:03] nbastoWM opened #50 "Section header is now white, after update"
Somehow my section headers begun to appear white, instead of grey, so there's no separation between the section header and the actual rows.
Did I do something wrong? Where is that grey defined?

[2015-11-11 16:28] #48 closed

[2015-11-15 21:22] chetstone opened #52 "Crash when editing with Cells as children"
In the TableViewDemo example, if I change the children of the Edit example from `<Item>` to `<Cell>` ([like I have done here](https://github.com/chetstone/react-native-tableview/blob/51b157a84a6bc37971242e44f779152f3fd992b8/examples/TableViewDemo/index.ios.js#L138-L145)), I get a crash when I try to delete one of the items. Sometimes the first item can be deleted without a crash but the second del

[2015-11-15 21:35] chetstone commented on #32
I can't seem to get this to work.
`<TableView style={{backgroundColor: 'green'}}>`
does nothing -- the element is still white. What am I missing?
I also tried tintColor but get an error message when used as part of the style and it doesn't do anything when used on its own as a prop.

[2015-11-17 08:59] aksonov commented on #52
Cell usage is quite experimental right now, maybe i have to add it to README. This component is more intended for standard cell tableview usage. For custom cells, probably built-in ListView will be better.

[2015-11-17 12:25] #35 closed

[2015-11-17 12:25] #34 closed

[2015-11-23 17:47] cancan101 opened #55 "Expose keyboardDismissMode prop"
Expose [`keyboardDismissMode`](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIScrollView_Class/#//apple_ref/occ/instp/UIScrollView/keyboardDismissMode) prop on TableView.

[RN's scroll view exposes](https://facebook.github.io/react-native/docs/scrollview.html#keyboarddismissmode).

[2015-11-25 10:03] nbastoWM opened #56 "In iPad (RN 0.14.2) the arrows get far from the right margin and the cell lines don't show from margin to margin"
![image](https://cloud.githubusercontent.com/assets/15138821/11394194/7f9f51be-935b-11e5-97dc-376c445e48f2.png)

[2015-11-25 10:05] aksonov commented on #56
This component is just wrapper around built-in UITableView.

[2015-11-28 20:09] cancan101 opened #58 "gitignore should be updated"
These lines look to be copy and pasted from another project: https://github.com/aksonov/react-native-tableview/blob/7bef281544bfb03571c3d567ae5f2fd8d07b7b27/.gitignore#L2-L3

Perhaps use: https://www.gitignore.io/api/xcode%2Cnode%2Cobjective-c

[2015-12-09 06:09] cancan101 opened #59 "Add Pull to Refresh"
This can be done using the [`refreshControl` on the `UITableViewController`](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UITableViewController_Class/index.html#//apple_ref/occ/instp/UITableViewController/refreshControl). For more info see [for example](http://www.appcoda.com/pull-to-refresh-uitableview-empty/).

[2015-12-11 18:30] fatuhoku opened #60 "Setting tableViewCellStyle={TableView.Consts.CellStyle.Value1} does nothing"
All Items are presented as the `Default` cell style.

[2015-12-11 18:34] fatuhoku commented on #60
That's because `Value1` is default, duh! Also worth noting: when using the Subtitle style, if `detail` is undefined then the cell is is laid out as if it was using `Default` cell style.

[2015-12-11 18:34] #60 closed

[2015-12-11 18:41] fatuhoku opened #61 "Add Demo for TableView.Cell"
`TableView.Cell` was advertised but it's not clear how it's intended to be used, especially from the README.

[2015-12-11 18:42] aksonov commented on #61
Check Example project. Right, the component lacks of the documentation, any "doc" PR is welcome...

[2015-12-11 18:43] #56 closed

[2015-12-13 22:01] theaqua opened #62 "More control over Cell?"
Does Cell have more than plain text control? For example, icons, labels, even switcher, just like Settings in iOS.

![img_0642](https://cloud.githubusercontent.com/assets/775692/11769678/01594056-a1fe-11e5-86f6-c86858427987.jpg)

[2015-12-13 22:24] theaqua commented on #62
Or input, for example.

[2015-12-14 17:14] aksonov commented on #62
It would be nice extension, PR is welcome.

[2015-12-14 21:58] theaqua commented on #62
IDK how 🤒

[2015-12-15 10:56] aksonov opened #65 "Contributors wanted!"
Developers! I'm glad that this component is so popular and thanks for great feedback about it, i did my best to fix issues to make it component more robust, however i don't have currently much time to work on suggested enhancements. If anyone is willing to help, let me know, I will add you as collaborator to the project.

[2015-12-28 19:37] ivanbrens opened #66 "[Question] Is there a way to disable a cell?"
I've found that I can place a **<View />** right in the cell and customize it anyway I see fit, but its still clickable and prevents clicking the content

![](https://zippy.gfycat.com/PreciousGoldenGemsbok.gif)

[2016-01-04 18:37] chirag04 commented on #15
This seems like a valid bug to me. I agree sometimes the users don't want to see any selection, but what if want users to select without having any initially default selected value.

[2016-01-04 18:44] #36 closed

[2016-01-04 19:49] chirag04 commented on #15
Ok. so adding ``selectedValue=''`` makes it work.

[2016-01-07 00:58] zimok commented on #52
I get a similar problem, here are more insights from the log, hope it could help:

2016-01-07 01:53:45.171 [error][tid:main] removedChildren count (0) was not what we expected (22)
2016-01-07 01:53:45.177 ***Native[37128:9180246] *** Terminating app due to uncaught exception 'NSRangeException', reason: '*** -[__NSArrayM objectAtIndex:]: index 4 beyond bounds [0 .. 3]'

[2016-01-12 17:46] maranbomater commented on #52
@chetstone , if you want to "hack" it, you can add one Item for every Cell that you have. It will work beacuse Item will put index for Cell. So you have to have equal number of Items and Cells. Of course Items would be invisible if you have just empty Item tags (<Item></Item>)

[2016-01-13 17:06] yarax opened #69 "Horizontal separate row borders"
At some point I noticed, that grey borders between rows disappeared. So I created a new project from scratch, using basic example

[code]

But table is without borders: ![](https://i.gyazo.com/6575b38dc88c86aab0825a14cb9ba7f9.png)

react-native-tableview version is 1.4.3

[2016-01-13 17:21] julio-rivera opened #70 "Native JSON Support"
How would one generate the TableView with a JSON generated from Javascript? It says its supported but it would be helpful if there was some sort of example in the README

[2016-01-14 13:03] yarax commented on #70
+1 came across with the same issue, that's mentioned in docs, but there is no description how to use it. So finally I decided to use something like this
[code]

[2016-01-14 14:01] yarax commented on #69
Also I can't do it manually, because according to this thread https://github.com/facebook/react-native/issues/29 react-native doesn't support one-side borders, except of View component.

[2016-01-14 14:55] yarax commented on #69
Now I see, that it depends on tableViewCellStyle, sorry, maybe it will be useful for someone else

[2016-01-15 12:25] VonD commented on #70
Hi,

You first have to add the json file to your iOS application bundle (right click on your project's name and select Add files to...).
Then you can pass the file name to the component's `json` prop.

If your file is named countries.json :

[code]

The json structure should be like so :

[code]

You can check examples 2 and 3 on the Readme, or the examples folder.

[2016-01-22 15:37] #70 closed

[2016-02-04 19:30] rjoonas commented on #55
:+1: Much needed.

[2016-02-07 18:54] nyura123 commented on #65
Hi, I've worked on an enhancement that allows rendering into iOS cells by using react root views. Each cell becomes a mini react 'app', and cellForRowAtIndexPath re-uses them and asks react to re-render with the right data.
Let me know if you'd be interested in taking a look/having this integrated.

[2016-02-07 18:57] aksonov commented on #65
@nyura123 Looks interesting!

[2016-02-07 19:06] nyura123 commented on #65
@aksonov yeah, it seems to work pretty well! I can put it on a branch (never contributed to an open-source project before so I'm not really sure what the steps are :)

[2016-02-07 20:30] aksonov commented on #65
Could you check my component sources and see what could be done to integrate?

[2016-02-07 21:00] nyura123 commented on #65
I've integrated it already on my branch (into RNTableView/Manager.m and the demo app index.ios.js), I just can't push the branch right now.

[2016-02-07 21:47] nyura123 commented on #65
for now, I forked & checked in the code there: https://github.com/nyura123/react-native-tableview

[2016-02-08 00:43] ifunk opened #75 "TableView inside NavigatorIOS content insets"
When using TableView inside a NavigatorIOS component, the TableView is obscured by the Navigator header.

I tried wrapping the TableView inside a ScrollView (which should position content correctly below the header). However, the TableView doesn't display at all in that case. I set { flex: 1 } for both ScrollView and TableView.

Here is the ScrollView docs reference which mentions the automaticall

[2016-02-08 00:46] nyura123 commented on #22
Making cells reusable might help with this. Check out "LargeTableExample" in TableViewDemo for a large data set, and "FirebaseExample" for an example of loading dynamic data (the reusable cell feature is currently on https://github.com/nyura123/react-native-tableview)

[2016-02-08 21:41] mosesoak commented on #42
+1 on this request

[2016-02-09 12:22] #31 closed

[2016-02-12 11:21] dlahyani opened #77 "Possible memory leak in RNTableViewCell"
The memory leak is caused by a retain cycle between <code>RNTableViewCell</code> and <code>RNCellView</code>.  <code>RNCellView</code> holds its containing <code>RNTableViewCell</code> strongly while <code>RNTableViewCell</code> retains the contained <code>RNCellView</code> strongly by adding it as subview to its <code>contentView</code>.

Suggested solution: <code>RNCellView</code> should not hol

[2016-02-25 22:36] chetstone commented on #52
@maranbomater Thanks, that helps a little bit, the cells now render without crashing but when I try to delete one I run into issue #19 ;-(

[2016-02-28 15:09] brumm opened #78 "Customize Item styling?"
Is there a way to change background/separator/text color of Item?

[2016-03-01 02:22] ajoshdee opened #79 "How to customize Section header?"
I want to change the contents and style of the section header. How to do it?

[2016-03-01 06:50] ajoshdee opened #80 "Disable Cell"
Is there a way to disable the cell?

[2016-03-06 03:05] schokocappucino opened #81 "undefined is not an object (evaluating 'NativeModules.UIManager.RNTableView.Constants')"
react-native is version 0.21.0, tableview 1.4.7

[2016-03-08 14:06] gastonmorixe opened #82 "onPress not working on RN 0.21?"
^^

update: When inserting a TableView inside a ScrollView check upper scrollview gestures do not cancel inside (tableview's) touches. , otherwise onPress won't be called.

[2016-03-08 21:13] schokocappucino commented on #81
I forgot to link to libRNTableView.a

[2016-03-08 21:13] #81 closed

[2016-03-08 23:17] imton opened #83 "Transparent Cell allows further customization"
[code]

[2016-03-08 23:46] imton opened #84 "Custom Selected Background Color"
RCTViewManager.m
[code]

RNCellView.m
[code]

[code]

[2016-03-17 07:04] allanjsx commented on #79
+1 Would love to see if there's a way to modify the font and background color of section header.

[2016-03-17 07:30] allanjsx commented on #79
I don't see a way to change background color yet, but you can change the section header font color/ font family/ font size, such as:

    <TableView
          style={{flex:1, backgroundColor: "white"}}
          headerFontFamily={MyStyle.fontFamily}
          headerFontWeight={MyStyle.fontWeight}
          headerFontSize={16}
          separatorColor={MyStyle.color}>

Please look at RNTableViewMan

[2016-03-18 19:16] sjchmiela commented on #75
Generally in native-native iOS putting UITableView inside UIScrollView isn't a good idea. http://stackoverflow.com/a/21857041/1123156

TableView component should react (😆 you get it – REACT) to its undocumented inset props https://github.com/aksonov/react-native-tableview/blob/master/index.js#L33, which somehow it ignores (at least it seems like doing it).

[2016-03-18 19:43] sjchmiela commented on #75
Adding `[self.tableView setContentInset:_contentInset];` to `layoutSubviews` of `RNTableView` seems to fix the problem. Probably ViewController overwrites insets…

[2016-03-18 19:50] sjchmiela commented on #75
Mea culpa – TableView reacts to inset props. But you cannot have the TableView positioned absolutely at `{0, 0, 0, 0}`. I removed it and left only `flex: 1` and it started to work!

[2016-04-09 21:24] chetstone opened #88 "npm push"
@aksonov , when you get a chance could you push the latest to npm?

thanks

[2016-04-10 07:30] aksonov commented on #88
done

[2016-04-10 07:30] #88 closed

[2016-04-13 10:12] leecmm opened #89 "Some problems found"
**UITableView**    **commitEditingStyle**  Should be judged  **customCells**

[2016-04-13 10:16] leecmm commented on #89
<img width="826" alt="695193fe-2e4a-4355-b798-4761039f3ead" src="https://cloud.githubusercontent.com/assets/5915703/14490147/b4db533a-01a3-11e6-91f0-540915cf5395.png">

[2016-04-18 09:22] aksonov commented on #89
I don't understand, could you clarify?

[2016-04-18 09:41] leecmm commented on #89
<img width="673" alt="4ee7c58b-fd03-4c3e-930d-2f8616e503b2" src="https://cloud.githubusercontent.com/assets/5915703/14599740/ac43e246-058b-11e6-8cdb-66a5661a8118.png">

<img width="789" alt="530a74f6-8af5-4b8b-bca1-347d5ab9b088" src="https://cloud.githubusercontent.com/assets/5915703/14599893/91d90606-058c-11e6-9ca4-9c0c739eb8b4.png">

[2016-04-18 10:49] aksonov commented on #89
Sorry, explain it in normal English or i have to close this issue...

[2016-04-19 13:03] leecmm commented on #89
Use custom cell delete will flash back

[2016-04-22 22:47] nickw commented on #78
@brumm This is what I'm doing in my apps:

[code]

[2016-04-22 22:47] #78 closed

[2016-04-22 22:47] nickw commented on #84
@imton let me know if this PR solves this for you: https://github.com/aksonov/react-native-tableview/pull/93

[2016-04-22 22:47] #84 closed

[2016-04-22 22:48] nickw commented on #79
@ajoshdee feel free to re-open if you are looking to customize more than font properties.

[2016-04-22 22:48] #79 closed

[2016-04-22 22:50] #30 closed

[2016-04-22 22:53] nickw commented on #21
@plrthink you can do this by using a `<Cell>`

[code]

and the styles:
[code]

[2016-04-22 22:53] #21 closed

[2016-04-22 22:54] nickw commented on #62
@theaqua see: https://github.com/aksonov/react-native-tableview/issues/21 - this can be accomplished with a `<Cell>` component and some custom styling

[2016-04-22 22:54] #62 closed

[2016-04-22 22:55] nickw commented on #83
@imton please open a PR if you have code contributions to make.

[2016-04-22 22:55] #83 closed

[2016-04-23 07:22] aksonov commented on #65
@nyura123 do you want to become collaborator of this component?

[2016-04-23 14:14] plrthink commented on #21
@nickw Thank you, I would try this.

[2016-04-23 15:15] nyura123 commented on #65
@aksonov, sure, that'd be great - thanks!

[2016-04-26 07:44] xuxiang32 opened #96 "the TableView doesn't display"
I tried wrapping the TableView View ,the TableView doesn't display at all in that case.
Is this a misunderstanding on my end?

[2016-04-26 07:46] xuxiang32 commented on #96
var MyCenter = React.createClass({
   render(){
       return(
           <View style={styles.marginTop25}>

               <TableView style={{flex:1}}
                          contentOffset={{y:260}}
                          allowsToggle={true}
                          allowsMultipleSelection={true}
                          tableViewStyle={TableView.Consts.Style.Grouped}

[2016-04-26 07:47] xuxiang32 commented on #96
[code]

[2016-04-26 07:48] xuxiang32 commented on #96
@aksonov Could you help me ?

[2016-04-27 16:08] PaulBGD commented on #96
I'm having the same thing happen, is there no way to include other non-table views?

[2016-05-03 08:16] dengcqw commented on #80
add "RCT_EXPORT_VIEW_PROPERTY(userInteractionEnabled, BOOL)" to RNCellViewManager

[2016-05-04 06:07] dengcqw opened #97 "Cells does not display when use Header Footer"
[code]

cause TableView._stateFormProps() index error for the section
this section index should be 0, but 1 here
eventually,  numberOfRowsInSection return zero cell

[2016-05-09 18:47] sibelius opened #98 "Enable null child of Section"
I have some optional Cell that I only want to show them in some situations.

Is there a way to accept a null value inside of a Section component? or hide a Cell?

[2016-05-11 01:39] ajoshdee commented on #79
I want to add buttons to header/footer

[2016-05-17 07:38] aksonov commented on #98
@nyura123 could you check?

[2016-05-17 07:38] aksonov commented on #97
@nyura123, @nickw could you check?

[2016-05-17 13:45] nyura123 commented on #98
@sibeliusseraphini could you try reactModuleForCell prop? It is supposed to be for situations when you want to dynamically change table cells. To hide a cell you would not include the Item in table's children. More info is in Editable Complex Components in Readme, and examples in TableViewDemo for ex. Custom Editable.

[2016-05-24 03:47] lekenny opened #99 "On android what i can use"

[2016-05-25 07:20] mrnav90 opened #100 "Please help me fix this: undefined is not an object (evaluating 'React.PropTypes.func')"
I already follow step by step install document library and when run on app, this happen with me.
Can you please help fix this. Thanks!
@aksonov
Follow image:
![simulator screen shot may 25 2016 2 17 33 pm](https://cloud.githubusercontent.com/assets/9253581/15531287/cb6ec22a-2283-11e6-8130-209a318bd321.png)

[2016-05-26 14:52] frontvu commented on #100
+1

[2016-05-26 16:22] frontvu commented on #100
Can you confirm that this now works?

[2016-05-26 17:41] nyura123 commented on #97
@dengcqw yes, it's a problem with how section index is calculated in `RNTableView` for `Cell`'s. In general there are a few issues with `Cell`'s which don't happen with `Item`'s, so might be worth trying https://github.com/aksonov/react-native-tableview#editable-complex-components if you need custom cells.

[2016-05-27 01:26] mrnav90 commented on #100
@frontvu: Thanks you.
@aksonov: Thanks you merged

[2016-05-27 02:42] frontvu commented on #100
Ok. Please close this issue

[2016-05-27 02:51] leecmm commented on #100
This problem still exists

[2016-05-27 03:30] frontvu commented on #100
Are you using latest version?

[2016-05-27 03:33] leecmm commented on #100
yes
<img width="344" alt="6649206e-94b8-44f1-a963-b7871bba7c05" src="https://cloud.githubusercontent.com/assets/5915703/15596996/927aa1ce-23fe-11e6-9466-c6510153fb6c.png">
<img width="375" alt="4995bc6a-2138-4a12-bb83-54647a17560d" src="https://cloud.githubusercontent.com/assets/5915703/15597003/a6a80664-23fe-11e6-8b04-a2d070aa1ab0.png">

[2016-05-27 04:20] aksonov commented on #100
Sorry but error seems to be in your SettingsView/index, why you think that it is this component?

[2016-05-27 04:22] #100 closed

[2016-05-30 14:58] AllanChen opened #103 "How to install on Deco"
How to install on Deco IDE ?

[2016-06-02 11:10] ruaan commented on #99
Solutions  ?

[2016-06-03 02:03] lekenny commented on #99
@ruaan   you can look react-native-swipe-list-view

[2016-06-08 17:35] ggaabe opened #104 "How to set text for the DetailButton?"
Hi,

I see that `TableView.Consts.AccessoryType.DetailButton` is available as a cell style.

I don't see any documentation on how to set the text on the button though.

When the AccessoryType is `Subtitle`, the detail on the left-hand side is set simply by using detail="detail X here". I can't seem to find the equivalent setter for `DetailButton`.

[2016-06-26 03:03] orhanmaden opened #106 "TableView doesn't rerender when filter predicate is updated"
The TableView doesn't update when I run example 3 and filter by a property on the state,
[code]

[2016-07-06 15:47] joegoodall1 commented on #69
Any solution to this? Having the same problem that horizontal borders disappear on smaller devices eg. iPhone 5.

[2016-07-07 09:58] joegoodall1 commented on #69
Hi @yarax ,

How did you resolve this problem.

You mentioned tableViewCellStyle. What did you set that as?

[2016-07-07 17:10] joegoodall1 opened #107 "Horizontal borders disappear on smaller devices (iPhone 4s & 5)"
As the title implies the horizontal borders disappear between each cell on the iPhone 4s and 5.
Anyone else encountered this and resolved it? If so, what was the solution?

[2016-07-08 17:58] mikemonteith commented on #107
It seems that the separatorStyle is getting set to null somewhere in the Objective-C side, but I don't know enough about Obj-C to fully understand what's going on.

I fixed my problem temporarily by setting `_tableView.separatorStyle = UITableViewCellSeparatorStyleSingleLine;` in RNTableView.m `(void)createTableView` function.
Obviously this isn't a long-term solution for this module but might giv

[2016-07-16 11:50] Reptilijonas commented on #107
Separator setter is missing in RNTableView.

Simply adding this >>>

`- (void)setSeparatorStyle:(UITableViewCellSeparatorStyle)separatorStyle {
    _tableView.separatorStyle = separatorStyle;
}`

to RNTableView.m fixed the issue for me.

[2016-07-23 05:28] CNDonny commented on #96
when you wrapper it with <View> tag,  you must specify the height of the view.
I solve the problem by this method.

[2016-07-25 21:02] chetstone commented on #52
The workaround for this is to use [reactModuleForCell](https://github.com/aksonov/react-native-tableview#editable-complex-components)

[2016-07-25 21:02] #52 closed

[2016-07-25 21:08] chetstone opened #109 "Xcode warning: the behavior of the UICollectionViewFlowLayout is not defined"
When I pop up an Alert component from the onPress method of an `<Item>` or `<Cell>` I get the following warning in the Xcode console.

[code]

I asked about this on [StackOverflow](http://stackoverflow.com/questions/38317351/inscrutable-error-mesage-from-xcode-when-using-the-react-native-alert-api) but have not received a response. @aksonov, @nyura123, I wonder if it could be related to the implem

[2016-07-25 21:25] PaulBGD commented on #96
Add flex: 1 to the view.

[2016-08-06 15:29] PaulBGD commented on #19
Error still occurring :( is there a chance for a fix?

[2016-08-06 16:43] nyura123 commented on #19
@PaulBGD, did you try reactModuleForCell? (see #52)

[2016-08-08 19:43] PaulBGD commented on #19
@nyura123 I completely forgot about that. I'm using it now, however I can't figure out how to make the height any bigger.

[2016-08-08 20:08] nyura123 commented on #19
are you setting the height prop on the Item? Unfortunately there's no way
to have it auto-size the height right now as far as I know.

On Mon, Aug 8, 2016 at 9:50 PM, Paul Sauve <notifications@github.com> wrote:

[2016-08-08 21:21] PaulBGD commented on #19
@nyura123 Thanks! Setting the height manually works perfectly. I'm still getting the TableView cut off, but it happens with other components too now so I'm thinking it's an issue with my code. Thanks for the help.

[2016-08-18 03:35] nickw444 commented on #75
Did this end up being resolved? I also seem to be having an issue where the edge insets aren't being set correctly

[2016-08-31 21:06] DrBeak1 opened #111 "turn 'deselectRowAtIndexPath' on/off"
I'm using the module for an ipad and want to keep the tapped cell selected until a new cell is tapped (standard ipad tableview behavior). I was able to achieve this by going into the RNTableView.m class and modifying the code, but making this settable from the table view instantiation would be best. If this option already exists and I just missed it please do let me know.

Thanks for the great mod

[2016-09-01 22:46] DrBeak1 opened #112 "row insertion"
Is it possible to animate tableView row insertion (i.e., `insertRowsAtIndexPaths`)?

[2016-09-02 21:24] chetstone commented on #77
Just found this problem in my app, at least I suppose it is the same problem. When switching to a tab with many `<Cell>` items, the number of total views as shown by the RN Perf Monitor increases, and when switching back to the original tab, it does not drop to the original value and in fact increases more. Changing the `<Cell>s` to `<Item>s` shows the expected behaviour of total views returning t

[2016-09-06 12:38] wupengFEX opened #113 "how to define an adaptive height complex cell?"
how to define an adaptive height complex cell?

[2016-09-07 20:32] chetstone opened #114 "react-native deprecation warning: RNAppGlobals"
Running this component shows the following warning in xcode:

`RNAppGlobals is deprecated/no longer needed and will be removed soon`

[2016-09-07 21:02] nyura123 commented on #114
This warning should go away if you remove the RNAppGlobals lines from AppDelegate.m.
Those special lines are no longer needed for 'reactModuleForCell'.

[2016-09-08 17:54] chetstone commented on #114
Ah, thanks..

[2016-09-08 17:54] #114 closed

[2016-09-14 10:52] casoetan opened #115 "React Native 0.33 breaks for both ios and android"
See what shows up on build for ios

[code]

For android a red screen

[code]

[2016-09-15 21:53] chetstone commented on #115
PR #110 fixes this for iOS, at least. @aksonov , could you please merge it?

@casoetan have you been using this component on Android? I didn't think it was supposed to work. I'm just getting ready to port to android and am looking for a substitute.

[2016-09-23 10:49] frontvu commented on #115
@aksonov, please merge this fix.

[2016-09-25 09:20] casoetan commented on #115
@chetstone. Actually not used it on Android. Just tested when I had challenges with the iOS.

[2016-09-25 09:20] casoetan commented on #115
When can we close this @aksonov as resolved

[2016-10-08 20:45] codeNgamer opened #116 "Missing merge request fix for 1.52"
I have version 1.52 of this module and it appears that #110  was merged. Can you confirm that the merge request was actually rolled into 1.52 because my copy doesn't appear to have it even after deleting the local files and re-installing. I copy and pasted the contents of "RNTableView/RNTableViewManager.m" from that merge request as a sanity check and i'm getting

[code]

[2016-10-10 17:04] ilyaivjev commented on #116
+1

[2016-10-10 17:05] t2n3qqq commented on #116
Same problems

[2016-10-11 14:14] LaurenceRolandJames commented on #116
Same issue --> a temporary fix is to include the module in the package.json using the github link:

"react-native-tableview": "git+https://github.com/aksonov/react-native-tableview.git"

[2016-10-14 03:10] jojonarte opened #117 "Bug when TextInput is added into the cell"
I've added a textinput in a cell within a Section here's a video of what happens.

http://www.screencast.com/t/vLl5tsMb1Rc

The the textInput loses focus when I'm adding a new list dynamically as search results come.

I've tried not putting the search component within the tableview and it works properly.
 I'm using this https://github.com/FaridSafi/react-native-google-places-autocomplete.

[2016-10-28 16:49] iosipeld commented on #56
@nbastoWM

This behaviour is caused by a property introduced in iOS9: cellLayoutMarginsFollowReadableWidth

As a workaround, you can add these lines inside RNTableView.m in createTableView:

[code]

I am going to find a right solution when I have time, but for now it's not destroying a layout so it's OK.

[2016-11-09 23:52] dac09 commented on #113
So I've just attempted this today, and the way I achieved it is
[code]

While this will work, I don't think the native bit of this is implemented in quite the most efficient manner, as a result if you try to animate it, you'll get artefacts.

I'm not an expert, but I've been told for more complex UIs, its best to use a ScrollView in iOS (implemented within ListView of react native) instead, which

[2016-11-11 22:27] roysG opened #118 "How do i get data in json from remote url ?"

[2016-11-12 04:42] roysG commented on #115
any updates?

[2016-11-15 23:46] gkrinc opened #120 "You're attempting to include a mixin that is either null or not an object"
When importing:

`import TableView from 'react-native-tableview';`

I'm getting this warning:

`ExceptionsManager.js:82Warning: ReactClass: You're attempting to include a mixin that is either null or not an object. Check the mixins included by the component, as well as any mixins they include themselves. Expected object but got undefined.`

**Versions**

- react-native: 0.35.0
- react-native-table

[2016-11-17 06:00] iRoachie opened #121 "Item accessory"
How do I add an accessory to an Item? It's not explained well in the readme

[2016-11-17 06:02] #121 closed

[2016-11-19 15:32] roysG commented on #32
any updates?

[2016-11-20 06:59] roysG commented on #120
+1

[2016-11-20 07:01] roysG opened #122 "How do i make trigger when scroll is reached to the end?"

[2016-11-20 11:31] roysG opened #123 "Problem with load more data"
When i tried to load more data, the data is loaded but the scroll is jumping always to start.

How can i fix it?

[2016-11-20 15:15] roysG commented on #123
any update? someone?

[2016-11-20 16:51] PaulRBerg opened #124 "undefined is not an object (evaluating _reactNative.NativeModules.UIManager.RNTableView.Constants"
Hello. I read #81, but I checked three times and I surely linked libRNTableView.a. I still receive this message:

undefined is not an object (evaluating _reactNative.NativeModules.UIManager.RNTableView.Constants)

Can you please help me?

[2016-11-20 19:22] razvan-paul commented on #124
Apparently, the 'undefined' situations occurs only in the Release scheme. Now I switched to Debug and it happens just like in #120

[2016-11-20 19:22] razvan-paul commented on #120
+1

[2016-11-21 08:39] aksonov commented on #120
Does it work with earlier RN versions? @nyura123 could you check?

[2016-11-21 08:39] aksonov commented on #118
It is not supported, sorry. Feel free to submit PR.

[2016-11-21 15:50] Jonovono opened #125 "Does this support SectionIndexTitles?"
I would like to make something where the user can drag the indexes on the side for faster scrolling like this:

![image](https://camo.githubusercontent.com/45751e8014f72e853bb5ee78831be294069c6090/687474703a2f2f6c756d2e70652f73656374696f6e6c697374766965772e676966)

Is this possible with this library?

Thanks.

[2016-11-28 02:39] iRoachie commented on #120
No progress on this?

[2016-11-30 01:59] chetstone commented on #120
@aksonov I've had this issue with RN 0.32 and 0.33. I worked around it by [removing the require](https://github.com/chetstone/react-native-tableview/commit/f0ba7994f5e620a7e1c5a01bce80e45353de5a17) of `NativeMethodsMixin`, which is apparently unused.

Weirdly, though, yesterday I cloned my project to another machine and that machine doesn't need that workaround, it works with b85f0d4924bafe3ef16cc

[2016-12-01 03:57] phaibin commented on #27
+1. I think this issue is very urgent.

[2016-12-07 07:19] phaibin commented on #97
@dengcqw Simply put TableView.Header & TableView.Footer under all section tags will fix it.

[2016-12-31 11:59] vyky opened #128 "Build warning"
Build warning with react-native 0.39, xcode 8.2, ios 10.2

[code]

[2017-01-14 11:22] iRoachie commented on #120
Resolved in #129

[2017-02-14 17:14] wwwdata commented on #99
Is there any similar project for android? I searched and didn't find anything so far. Our use case is to display a huge list of like 2k names that we need to be able to jump to a specific entry. Image the iOS Address book with the A-Z bar at the right side. With the react-native ScrollView, it's only possible to jump to stuff that was already rendered and I cannot jump to the middle of the list fo

[2017-02-16 07:01] WhynoChinese opened #130 "How to customize the section's header"
Who can teach me how to customize the section's header

[2017-02-16 07:17] WhynoChinese commented on #130
@nickw

[2017-02-27 03:08] EasonJiang opened #131 "TableViewCell has bug!"
when i use gestureState to get dx, the  value of dx is bad.  when i click the srceen, the dx is not 0 but -500 or other value.  Does anyone know the solution of this problem? thks！

[2017-03-17 23:16] namestise opened #132 "index 0 beyond bounds for empty array"
Say I have Section A. Section A have empty Items. I move an item from other section to Section A. And then I set editing to false. This will yield:

![simulator screen shot mar 18 2017 6 12 34 am](https://cloud.githubusercontent.com/assets/20994365/24066084/47b34e0c-0ba2-11e7-956c-c13b681e78cb.png)

[2017-03-18 00:20] nyura123 commented on #132
If you're using Cells, then this might same issue as #52

[2017-04-06 18:35] PaulBGD opened #133 "UITable​View​Row​Action"
Would be nice to make rows swipable.

[2017-04-07 00:42] mithunm93 commented on #121
@iRoachie did you figure this out? or....

[2017-04-07 01:13] mithunm93 commented on #121
For future reference:
[code]

[2017-04-07 11:15] iRoachie commented on #121
@mithunm93 Thanks mate! Could not figure it out for the life of me. The documentation really needs a cleanup

[2017-04-11 13:05] namestise commented on #132
I'm using `<Item />`

[2017-04-13 05:39] vTrip commented on #81
@hinzundcode are you able to assist, I cannot locate libRNTableView.a

[2017-05-01 14:25] davidperrenoud opened #135 "Show the extra separators below UITableView"
By default on iOS, UITableView shows extra separators in the empty place below the cells:

![Extra separators](https://i.stack.imgur.com/cFbz5.png)

As `RNTableView` is always initialising `tableFooterView`, these separators aren't shown. Could we initialise the footer only when we actually need?

At the moment, you can disable the footer by **commenting** this line:
[code]

And this line:
[code]

[2017-05-08 16:38] njt1982 commented on #42
@cancan101 Leaving label as empty seems to cause it to be hidden

[2017-05-08 16:52] njt1982 opened #136 "Image URL in the table item"
Is it possible to set the image (referenced here: https://github.com/aksonov/react-native-tableview#images--icons) to be an external URL?

[2017-05-08 16:56] njt1982 commented on #136
Does it have to be a custom cell like the dinosaur example?
https://github.com/aksonov/react-native-tableview/blob/master/examples/TableViewDemo/index.ios.js#L587

[2017-05-09 20:54] mithunm93 commented on #96
@PaulBGD's solution worked for me

[2017-07-20 08:43] #125 closed

[2017-08-10 16:14] bronylexx commented on #124
Same issue here except it happens for me in both, Release and Debug schemes.

[2017-08-10 18:27] alexkuc opened #139 "undefined is not an object (evaluating 'RNTableViewConsts.CellEditingStyle')"
I am receiving an error message for index.js (from the node module itself):
`undefined is not an object (evaluating 'RNTableViewConsts.CellEditingStyle')`

This part of the code is raising error:
[code]

<img width="487" alt="screenshot 2017-08-11 02 16 24" src="https://user-images.githubusercontent.com/3331946/29185292-5c21966c-7e3b-11e7-934e-002b322374d6.png">

I have verified that I indeed link

[2017-08-24 21:20] mikeromano38 commented on #139
Same here after upgrading to react-native 0.47.2

[2017-09-06 08:14] monkeyxdd commented on #123
i miss the same problem,can you fix it?

[2017-10-11 08:11] markuplab opened #144 "Allow animated cell deselect"
Now animation hard-coded to false
https://github.com/aksonov/react-native-tableview/blob/master/RNTableView/RNTableView.m#L485
Can you add property to change it?

[2017-10-11 09:48] intmainvoid commented on #124
Have you done step 4 in the readme?
[code]
Not doing that step properly would cause this error

[2017-10-15 06:20] intmainvoid commented on #139
This will be fixed by this PR 143

[2017-10-16 14:39] #113 closed

[2017-11-16 10:51] Vaintti opened #146 "sectionIndexTitlesEnabled not working"
I added sectionIndexTitlesEnabled={false} to the TableView component props but it still shows section titles.

[2017-11-19 00:41] TomLisankie opened #147 ""undefined is not an object" error when running Example 1 from README.md"
I am getting an error that states `undefined is not an object (evaluating '_reactNative.NativeModules.UIManager.RNTableView.Constants')` when running [Example 1 from the README.md](https://github.com/aksonov/react-native-tableview#examples). I am running React Native version 0.50.3.

![Error Message](https://i.imgur.com/ztIRX7y.png)

[2017-12-04 01:17] #19 closed

[2017-12-04 01:19] iRoachie commented on #23
Closing as inactive since there's been no activity for a while. Feel free to create a new issue after trying with latest version.

[2017-12-04 01:19] #23 closed

[2017-12-04 01:19] iRoachie commented on #104
Closing as inactive since there's been no activity for a while. Feel free to create a new issue after trying with latest version.

[2017-12-04 01:19] #104 closed

[2017-12-04 01:22] iRoachie commented on #103
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 01:22] #103 closed

[2017-12-04 01:25] iRoachie commented on #99
Hey new maintainer here. Closing out all* issues from before 2017. Right now we have no plans for android. Thanks!

[2017-12-04 01:25] #99 closed

[2017-12-04 01:48] iRoachie commented on #32
Setting style on the TableView will only changer the color of the background so the `Item` itself will still be white. Right now the only workaround is to create a custom cell.

[2017-12-04 01:48] #32 closed

[2017-12-04 01:55] iRoachie commented on #42
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 01:55] #42 closed

[2017-12-04 01:59] iRoachie commented on #75
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 01:59] #75 closed

[2017-12-04 02:08] iRoachie commented on #82
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 02:08] #82 closed

[2017-12-04 02:08] iRoachie commented on #43
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 02:08] #43 closed

[2017-12-04 02:09] iRoachie commented on #44
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 02:09] #44 closed

[2017-12-04 02:11] iRoachie commented on #46
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 02:11] #46 closed

[2017-12-04 02:15] iRoachie commented on #50
Section header's by default are transparent, so they take whatever backgroundColor the TableView has

[2017-12-04 02:15] #50 closed

[2017-12-04 02:15] iRoachie commented on #55
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 02:15] #55 closed

[2017-12-04 02:17] #58 closed

[2017-12-04 02:17] #61 closed

[2017-12-04 02:19] #65 closed

[2017-12-04 02:20] iRoachie commented on #66
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 02:20] #66 closed

[2017-12-04 02:21] iRoachie commented on #69
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 02:21] #69 closed

[2017-12-04 02:22] iRoachie commented on #77
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 02:22] #77 closed

[2017-12-04 02:22] iRoachie commented on #80
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 02:22] #80 closed

[2017-12-04 02:23] iRoachie commented on #89
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 02:23] #89 closed

[2017-12-04 02:24] #96 closed

[2017-12-04 02:26] iRoachie commented on #97
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 02:26] #97 closed

[2017-12-04 02:26] iRoachie commented on #98
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 02:26] #98 closed

[2017-12-04 02:30] iRoachie commented on #107
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 02:30] #107 closed

[2017-12-04 02:30] iRoachie commented on #109
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 02:30] #109 closed

[2017-12-04 02:30] iRoachie commented on #111
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 02:30] #111 closed

[2017-12-04 02:30] iRoachie commented on #112
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 02:30] #112 closed

[2017-12-04 02:31] #115 closed

[2017-12-04 02:35] iRoachie commented on #116
New version will be posted this week!

[2017-12-04 02:35] #116 closed

[2017-12-04 02:39] iRoachie commented on #117
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 02:39] #117 closed

[2017-12-04 02:39] iRoachie commented on #118
Closing as inactive since there's been no activity for a while.

[2017-12-04 02:39] #118 closed

[2017-12-04 02:41] #120 closed

[2017-12-04 02:42] iRoachie commented on #122
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 02:42] #122 closed

[2017-12-04 02:42] iRoachie commented on #123
Hey new maintainer here. Closing out all* issues from before 2017. If this is still a concern, please create a new issue. Thanks

[2017-12-04 02:42] #123 closed

[2017-12-04 02:43] iRoachie commented on #124
This problem's been since fixed and is in master. A new version should be published this week

[2017-12-04 02:43] #124 closed

[2017-12-04 02:47] iRoachie commented on #128
These warnings should be fixed in the next release. Partial commit here https://github.com/aksonov/react-native-tableview/pull/149/commits/1b5a8b31bfe48ae4fce4e4556b36ba3b57c012ce

[2017-12-04 02:50] #139 closed

[2017-12-04 02:52] iRoachie commented on #146
Should be fixed in the next release. In the meanwhile you can try it out using the `update` branch.

[2017-12-04 02:53] iRoachie commented on #147
Hey! All the examples will be updated in the next release. You can follow the progress on the `update` branch, or [this](https://github.com/aksonov/react-native-tableview/pull/149) pr

[2017-12-19 08:56] leoi11 commented on #99
Just FYI, the closest one I can find from npm is this package. https://www.npmjs.com/package/react-native-tableview-simple

It supports both android and iOS, and that comes with a cost (the appearance is completely based on CSS styling rather than using the native components, which means the look and feel don't get updated as the native components change.)

[2017-12-21 09:11] iRoachie commented on #147
Fixed and merged in master. Will be available in 2.0

[2017-12-21 09:11] #147 closed

[2017-12-21 09:12] iRoachie commented on #146
Fixed and merged in master. Will be available in 2.0

[2017-12-21 09:12] #146 closed

[2017-12-21 09:12] iRoachie commented on #128
Fixed and merged in master. Will be available in 2.0

[2017-12-21 09:12] #128 closed

[2017-12-28 19:18] plondon opened #152 "Release v2.0.0"
It seems 1.7.0 is still the latest version on npm (https://www.npmjs.com/package/react-native-tableview).

When will 2.0.0 be released?

[2017-12-28 19:20] plondon commented on #152
Closing since there was already this discussion in the PR

[2017-12-28 19:20] #152 closed

[2018-01-16 17:26] Xosmond commented on #59
This is really important to use with tableview

[2018-01-17 10:37] iRoachie commented on #59
I’ll see if I can add it this weekend.

[2018-01-24 04:51] iRoachie commented on #59
Will commit tomorrow.

![pull-to-refresh](https://user-images.githubusercontent.com/5962998/35315053-aff877b4-00a0-11e8-8fd6-79d71d61fd8d.gif)

[2018-01-24 05:05] iRoachie commented on #59
https://github.com/aksonov/react-native-tableview/pull/155

[2018-01-24 05:27] Xosmond commented on #59
Great!!

[2018-01-24 05:43] iRoachie commented on #59
Released in [2.1.0](https://github.com/aksonov/react-native-tableview/releases/tag/2.1.0). Can check the readme or example app on how to use. https://github.com/aksonov/react-native-tableview#pull-to-refresh. 💯

[2018-01-24 05:43] #59 closed

[2018-02-08 02:41] lukakerr opened #157 "Individual <Item> Color"
Is there a way to change an individual `<Item>`'s color without changing the color of the whole table?

`textColor` sets the color of the `TableView`, and using `<Item style={{color: "red"}}>` doesnt seem to work. I am looking to add a "destructive" button which is red and used to logout

[2018-03-19 13:40] ShrinkLynn opened #158 "How could I prevent touchevent when drag the tableView quickly"
I use RNTableView with custom cell，cell have touch-events too，when I tap --> hold --> scroll --> release
,it performance as expect , then when i quickly drag it and release immediately, it will call tap action. I find that, when single tap or drag and release, the behavior of RCTTouchHandler are the same touchBegan, touchMove（sometimes don‘t call）, touchEnd，in almost 0.05s. JS can not distinguish

[2018-03-27 01:35] iRoachie commented on #158
Hey @ShrinkLynn not sure how much info I can provide on this. I have experience with native iOS but I'm mainly a js developer. I'll cc @aksonov to see if he can help you on this

[2018-03-28 01:19] ShrinkLynn commented on #158
@iRoachie thanks~

[2018-04-25 07:08] markuplab opened #159 "App crash on p2r"
**2.1.0**
App crash after pull2refresh. Nothing special, just follow repo guide. Custom cell design.

react: "16.3.1"
react-native": "0.55.3"

![image](https://user-images.githubusercontent.com/4974184/39230818-20d2cf50-4892-11e8-9836-9d0e66f70e9c.png)

[2018-05-13 11:57] liamse opened #160 "TableView Tag does not render anything"
I use

- react-native version `0.55.2`
- `xcode 9.2`

And use some other modules:

- react-native-navigation 1.1.446 (wix company developed).
- naitive-base 2.4.2

The result of <TableView> is nothing. In `react-devtools` it exist but the height is zero. I try to set  `flex:1` as written at Example1 but none of them is worked.

[2018-05-13 16:01] nyura123 commented on #160
@liamse do all the parent views have a height? try to make them flex or give a height somewhere.

[2018-05-13 17:44] liamse commented on #160
Yes @nyura123, The answer of you question is yes.
I init a new react-native project only to test `<Example1 />` component. it does not show anything like before. I find out that I need to add `width` to style of `<TableView>` to it appear.

If I find time, I am going to test it with `react-native-navigation` as well.

[2018-05-25 10:44] liamse commented on #160
I found my question answer. First of all it does not related to `react-native-navigation`.
I init a react-native project and try to use react-native-tableview Example1 as I said before. But the `width` of tableview is set to zero. After a while, I figure out the `alignItems: 'center'` in above View makes this problem. I create [TableViewTutorial Repository](https://github.com/liamse/TableViewTutor

[2018-05-29 12:26] bensonz opened #161 "podspec fail"
as such:
[code]
this happens when I do ``` pod install ```
Apparently you need to add authors and summary to podspec!

[2018-05-29 17:40] #160 closed

[2018-05-30 00:21] hammadzz opened #163 "Scroll To Index Support"
Does this library allow scrolling to item at a certain index? I can't seem to find it in the source.

[2018-05-30 01:51] iRoachie commented on #163
Hey @hammadzz it's not implemented currently. There's the scrollTo which scrolls in pixels.

You'll need to make a ref to use it.
[code]

Then:
[code]

[2018-05-30 03:07] itome commented on #163
I created PR (https://github.com/aksonov/react-native-tableview/pull/164) to support scrollToIndex feature.
You can try this version by changing `package.json` file as following.
[code]

At the moment, this worked only for my code.
So feel free to ask me or fix my implementation.

[2018-05-30 03:19] itome opened #165 "Pass object type props to `reactModuleForCell`"
I'm implementing custom cell tableview.
I know `Cell` tag has performance issue(my list has over 1000 items), so I use `reactModuleForCell`.
I want to pass object type props to item. But `reactModuleForCell` doesn't allow props other than primitive type.
Is there a way to pass object?

[2018-05-30 04:10] iRoachie commented on #163
Added in 2.2.0 https://github.com/aksonov/react-native-tableview#scrolltoindex

[2018-05-30 04:10] #163 closed

[2018-05-30 08:08] itome commented on #165
I solved this by loading data in component. I close this issue.

[2018-05-30 08:08] #165 closed

[2018-06-07 04:36] markuplab commented on #159
Sorry, private repo, i can't. But maybe i can prepare example.

[2018-06-19 19:58] gabrielbull opened #170 "iPad style rounded corners"
@iRoachie Are you interested in the option to support rounded corners on the sections? I've got it to work for me but would like to know if this is something you want in this library before creating a PR.

![img_7d0392756325-1](https://user-images.githubusercontent.com/671923/41621065-a1a56ca6-73d9-11e8-9182-36db2836238b.jpeg)

[2018-06-22 03:04] iRoachie commented on #170
This looks pretty neat! Definitely up for it

[2018-06-26 08:46] gao520sun opened #177 "yarn add react-native-tableview@2.2.0"
![e39ccbc4-1942-4dc8-9193-87eb300edb5e](https://user-images.githubusercontent.com/8372369/41899026-fbbf3580-795d-11e8-989e-96f0a81dd083.png)

Environment:
  OS: macOS High Sierra 10.13.4
  Node: 8.11.1
  Yarn: 1.6.0
  npm: 5.6.0
  Watchman: 4.7.0
  Xcode: Xcode 9.4 Build version 9F1027a
  Android Studio: 3.1 AI-173.4720617

Packages: (wanted => installed)
  react: 16.0.0 => 16.0.0
  react-native:

[2018-06-26 09:03] #177 closed

[2018-06-26 09:04] gao520sun opened #178 "undefined is not an object (evaluating '_reactNative.NativeModules.RNTableViewManager.Constants')"
Environment:
  OS: macOS High Sierra 10.13.4
  Node: 8.11.1
  Yarn: 1.6.0
  npm: 5.6.0
  Watchman: 4.7.0
  Xcode: Xcode 9.2 Build version 9C40b
  Android Studio: 3.1 AI-173.4720617

Packages: (wanted => installed)
  react: 16.0.0 => 16.0.0
  react-native: 0.50.4 => 0.50.4

[2018-06-26 09:06] #178 closed

[2018-06-27 04:16] gao520sun opened #179 "custom cells"
![image](https://user-images.githubusercontent.com/8372369/41952648-9b2dab24-7a03-11e8-9eac-bbe422d9dc10.png)
![image](https://user-images.githubusercontent.com/8372369/41952673-ba88dc64-7a03-11e8-9bb1-e56bb60d06fb.png)
 setTimeout(()=>{
            console.warn('messsssssss')
        },2000)
Can the warning be removed

[2018-07-22 20:40] iRoachie commented on #159
Closing as inactive. Feel free to message or create a new issue if this is still a concern.

[2018-07-22 20:40] #159 closed

[2018-07-24 22:21] freerangenerd opened #183 "reactModuleForCell is not a property of TableView"
The instructions for Editable Complex Components says to pass your cell component as a prop for TableView:

<TableView reactModuleForCell="TableViewExampleCell" >

https://github.com/aksonov/react-native-tableview#editable-complex-components

TableView does not have a reactModuleForCell prop in TableViewProps.

Is this no longer supported? Is the documentation wrong?

[2018-07-25 03:40] iRoachie commented on #183
Just added it to the props in [v2.3.1](https://github.com/aksonov/react-native-tableview/releases/tag/2.3.1). Thanks for bringing up.

[2018-07-25 03:40] #183 closed

[2018-10-14 01:49] damon8to24 commented on #178
I had the same problem. How did you solve it? @gao520sun

[2018-11-07 09:09] henrikra opened #189 "Are cellSeparatorInset and cellLayoutMargins required props?"
I just started using this library and TS compiler yells at me about these two props. If I don't have them the table renders fine. But they are marked as required. Is this just mistake in TypeScipt types?

![image](https://user-images.githubusercontent.com/12229968/48121364-664e5880-e27d-11e8-9a63-a65ec2aff70d.png)
![image](https://user-images.githubusercontent.com/12229968/48121392-79612880-e27d-1

[2018-11-07 11:06] iRoachie commented on #189
Sorry about that they should be optional.

[2018-11-07 11:08] henrikra commented on #189
If you make PR I can review it :)

[2018-11-07 11:20] henrikra opened #190 "transparent prop is missing from ItemProps"
As you can see from this PR: https://github.com/aksonov/react-native-tableview/pull/71/files it is possible to add boolean for prop `transparent` on `Item` and `Cell`. But it is missing from interface called `ItemProps`.
![image](https://user-images.githubusercontent.com/12229968/48128701-e8e01380-e28f-11e8-8271-3c0aad26abb1.png)

[2018-11-07 11:38] henrikra opened #191 "How to scroll to the bottom of the list?"
Hello

I am developing chat application and I am experimenting if this component fits my needs. So far so good. One thing that I don't see in the api and what I would like to use is that I would like to use method like `scrollToBottom` that would do the same as other scroll methods but it would scroll to the bottom of the list :). Do you guys have any tips for that for this library?  Because for e

[2018-11-07 11:50] henrikra commented on #191
Hmm okay looks like this is working nicely 👍

`this.newTable.current.scrollToIndex({ index: this.state.myArray.length - 1 });`

[2018-11-07 12:32] iRoachie commented on #191
Nice! Great that you posted what you found here so others can find it

[2018-11-07 12:32] #191 closed

[2018-11-07 12:57] henrikra opened #192 "After rerender table using Cells flickers and scrolls back to the top"
Code for reproduction is here: https://github.com/henrikra/react-native-tableview/blob/append-items-bug/example/src/screens/Example9.js

## What I would like to achieve
I would like to achieve that always when I add new items to the end of the list the list will scroll to the bottom.

## What works 💚

I can achieve that when using `Item` from this library.
### Gif
![bug works](https://user-images.

[2018-11-07 12:58] henrikra commented on #191
No worries 😃  Btw now I found actual bug with `Cell` component. Can you check it out here and give your opinion? https://github.com/aksonov/react-native-tableview/issues/192

[2018-11-12 04:34] #190 closed

[2018-11-12 04:35] #189 closed

[2018-11-14 19:31] davesherratt opened #194 "undefined is not an object (evaluating '_reactNative.NativeModules.RNTableViewManager.Constants')"
Version 2.4.1

undefined is not an object (evaluating '_reactNative.NativeModules.RNTableViewManager.Constants')

- [ ]

[2018-11-15 12:55] iRoachie commented on #194
Hey please make sure the library is linked correctly, and then you re-run the app with `react-native run-ios`.

Also you can double check if it's linked correctly by following the Manual Instructions section in the Readme.

[2018-11-22 08:54] myriky commented on #194
same here :(
also i'm using with Expo

[2018-11-22 10:08] iRoachie commented on #194
@myriky This library doesn't support expo, it's a native library.

[2018-11-29 06:03] #194 closed

[2019-01-05 04:46] oferRounds opened #195 "Question: why does RN not using UITableView from the start?"
Just wondering what is the reason for that, same question for UICollectionView. I think I’ve read something that the new architecture that they are now working on on Facebook, will allow this, but I’m not sure why/how

Anyhow, thanks for this awesome library!

[2019-01-05 13:19] iRoachie commented on #195
I’m not sure! They maybe would’ve wanted more customization from the JS side

[2019-01-05 13:30] oferRounds commented on #195
yes.. Still curious to know if there a was another/different reason, following the comment I mentioned above

[2019-01-05 13:34] iRoachie commented on #195
You could try asking on the react-native repo

[2019-01-06 05:40] oferRounds commented on #195
thanks @iRoachie, I'll try!

[2019-01-06 05:40] #195 closed

[2019-01-16 15:54] mtford90 commented on #178
@damon8to24 and anybody else who comes across this, I solved this using platform specific code i.e. `Component.ios.js` and `Component.android.js`

[2019-02-09 19:01] msand commented on #19
This is likely to happen if you're using some native components, where some ViewManager returns a LayoutShadowNode in createShadowNodeInstance of ViewGroupManager or something extending ReactShadowNode in createShadowNodeInstance of ViewManager on Android, and a RCTShadowView in the shadowView method of RCTViewManager on iOS. But, returns null/nil for some other View in some other ViewManager.

Th

[2019-04-01 15:06] n-kumari opened #198 "Remove "git+" in the repository url from package.json"
Is there a reason to prepend the repository url with `git+` in [package.json](https://github.com/aksonov/react-native-tableview/blob/master/package.json#L12)?

Reading https://docs.npmjs.com/files/package.json#urls-as-dependencies, looks like the master branch is going to be used anyway since the commit-ish is not specified. (The commit-ish can be any tag, sha, or branch which is supplied as an ar

[2019-04-01 20:58] iRoachie commented on #198
This is generated automatically by `npm init`.

[2019-04-03 14:10] n-kumari commented on #198
I see. We use cocoapods as the dependency manager and it breaks when trying to fetch the url prepended with `git+`.

`git+` syntax  is not supported by cocoapods (Source: Podspec Syntax Reference
https://guides.cocoapods.org/syntax/podspec.html#source.)

As `git+` is not adding any value in this case of package.json(since it defaults to master anyway), removing `git+` should be good. This would he

[2019-05-23 21:23] spiderdev86 opened #202 "Cannot read property 'Constants' of undefined"
Cannot read property 'Constants' of undefined

[code]

`yarn install`
`react-native run-ios` or `react-native run-android`

I am facing "Cannot read property 'Constants' of undefined"

![Screen Shot 2019-05-23 at 2 21 18 PM](https://user-images.githubusercontent.com/8231275/58287517-0d9c6400-7d66-11e9-9661-5ec377829208.png)

Does anyone know the solution of this problem?
Thanks

[2019-05-24 02:41] MobileDev418 commented on #202
I am facing same issue

[2019-05-24 04:02] MobileDev418 commented on #194
I have a same problem.
I am integrating this on android project.
'react-native run-android`

[2019-05-24 09:59] MobileDev418 commented on #194
@iRoachie is not support on android?

[2019-05-24 21:37] iRoachie commented on #194
Not as yet. There's an open PR for it

[2019-05-31 10:53] iRoachie commented on #202
Duplicate of #194

[2019-05-31 10:53] #202 closed

[2019-06-19 03:26] raymondkpwong commented on #194
@iRoachie Which PR is related to this?

[2019-06-19 15:53] iRoachie commented on #194
My bad, wrong repo 🤦🏽‍♂️

[2019-07-02 01:29] iRoachie commented on #198
Just merged in

[2019-07-02 01:29] #198 closed

[2019-07-28 12:02] saadqbal commented on #192
Hi @henrikra have you found any good solution for your chat List ? I have tried a number of options but nothing has worked so far.

Tried RecycleListView, react-native-largelist but none has worked.

[2019-07-28 12:57] henrikra commented on #192
Nope. I just ended up using FlatList on iOS which is not ideal :/

[2019-08-05 19:11] nyura123 commented on #192
@henrikra for styling `Item`s, you could try using https://github.com/aksonov/react-native-tableview/blob/master/README.md#editable-complex-components

[2019-08-07 15:49] emielvanliere opened #207 "Build error on RN 0.60.4: No visible @interface for 'RCTEventDispatcher' declares the selector 'sendInputEventWithName"
Building with React Native 0.60.4 gives me the following error in `RNTableViewManager.m` on line 256:

"No visible @interface for 'RCTEventDispatcher' declares the selector 'sendInputEventWithName:body:"

[2019-08-07 16:17] iRoachie commented on #207
There's a PR open to fix this. #203

[2019-08-25 14:15] sureshsamanthapudi opened #208 "Need help in creating new component library"
Hi,

This issue is not related to 'react-native-tableview'.
We are creating a new private component library for our organization.
I tried the following:
1. Component library itself as a separate project with react and react-native as peer dependencies in my project.
2. But having just the components code in component library is not useful because we have to add new code or fixes and we have to run

[2019-08-30 07:50] iRoachie commented on #207
Fixed in v3.0.0. https://github.com/aksonov/react-native-tableview/releases/tag/3.0.0

[2019-08-30 07:50] #207 closed

[2019-08-30 08:46] iRoachie commented on #208
You should have react and react-native as dev dependencies as well as peer dependencies.  See https://github.com/callstack/react-native-paper/blob/master/package.json for example.

[2019-12-12 23:00] sallar opened #210 "Table background color is white in dark mode on iOS 13"
Hi.

On iOS 13, the whole table background color is white in dark mode and I can't seem to be able to change it:

![image](https://user-images.githubusercontent.com/768052/70755871-b7176700-1d43-11ea-9b6d-b7f0cefd503d.png)

When I press on each item, it seems the pressed color and text colors are correct:

<img width="446" alt="Screenshot 2019-12-13 at 0 59 09" src="https://user-images.githubuserc

[2019-12-14 23:03] sallar commented on #210
Seems like that `<Item>` has a an option to make the cell background transparent: `<Item transparent>` but it's not documented. But the table background color shouldnt be white by default anyway so this is still an issue even though I've fixed it for my usecase.

[2020-01-07 05:48] AdamMoffitt opened #211 "Resize cell height"
Hello, I'm trying to implement custom cells and am unable to change the cell heights. In the documentation you mention being able to manipulate cell heights, but I am not seeing a way to do that. The cells are always the same narrow height of the basic table cell. Help would be much appreciated

[2020-04-05 14:16] pie6k opened #212 "Is it possible to reduce 'dragging' shadow opacity?"

[2020-04-09 08:55] dylancom commented on #211
@AdamMoffitt I was struggling with this too, but just found you can put a "height" prop on item:
`<Item height="70" />`

[2020-05-17 15:04] JimmyLemieux opened #214 "TableView not being rendered"
Hello, so I just added the TableView to my project and I can't get it to render. The application is just showing me a blank screen.

[code]

[2020-05-20 22:03] chetstone commented on #214
Your tableViewStyle is not one of the available options. Also, you need a flex: 1 style on the tableview.
Try
[code]

[2020-05-20 22:18] chetstone opened #215 "Table not visible in Dark Mode"
Using the (corrected) simple example from https://github.com/aksonov/react-native-tableview/issues/214#issuecomment-631751644:

[code]
the items are not visible except for the section header and the separators as shown in the screenshot below. When you touch an item, it appears in dark (reverse) color, as shown in the second screenshot.

I tried adding the `transparent` prop to the <Item> as sugge

[2020-05-20 22:34] chetstone commented on #215
UPDATE: I built the example app and the entire app is blank in Dark Mode. (In the Simulator, go to Settings/Developer and turn on Dark Appearance)

[2020-05-20 22:47] chetstone commented on #215
WORKAROUND:

From Apple's [Document](https://developer.apple.com/documentation/xcode/supporting_dark_mode_in_your_interface/choosing_a_specific_interface_style_for_your_ios_app):
If you need extra time to work on your app's Dark Mode support, you can temporarily opt out by including the UIUserInterfaceStyle key (with a value of Light) in your app’s Info.plist file. Setting this key to Light causes

[2020-12-07 20:49] riccardocaranfil opened #217 "It's possible to animate rows adding?"
I mean the ios native animation on pushing a new row, also it's possible to add some custom content on sections

Example:

![IMG_3007](https://user-images.githubusercontent.com/13602797/101403690-e076be80-38d5-11eb-8e10-91b98b5d45c2.jpg)

This is an example of a section with an activity indicator taken from iPhone Wi-Fi settings view

[2021-01-04 15:37] iRoachie opened #218 "Looking for maintainer"
Hey team,

You may have noticed that I haven't published any new updates or replied to issues/PRs for some time. I'm no longer actively involved in the react-native community as my day-to-day work has shifted.

I'm looking for a new maintainer to manage this project. If you're interested in maintaining this project, please reach out to me on twitter [@roach_iam](https://twitter.com/roach_iam).

[2021-01-04 15:47] #214 closed

[2021-01-04 15:49] iRoachie commented on #215
@chetstone Do you have any idea of the kind of work needed to support dark mode?

[2021-02-01 18:24] zachgibson commented on #215
Can you not write a custom cell and set your light/dark mode colors that way?

[2021-02-01 20:27] chetstone commented on #215
Sorry, I have no idea.  Since discovering the workaround I described above, I have forgotten about this issue. The workaround is all I need for my app atm.

[2021-08-12 01:38] Great-hijack opened #221 "onPress on Item doesn't work in edit mode"
onPress on Item doesn't work in edit mode though I tried to add `allowsSelectionDuringEditing={true}` props

[code]

I thought `allowsSelectionDuringEditing` will make the Item clickable although in edit mode.
Do I misunderstand the meaning?

[2022-03-21 09:30] Dimasprog commented on #194
[davesherratt](https://github.com/davesherratt), did u find solution?

[2022-09-13 10:06] RexYao97 commented on #211
i meet same problem too.Finally, i use Cell instand of Item to render.you can link to [here](https://www.jianshu.com/p/a5996a57eb4b) get more detail.
simple code
[code]